@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f7;
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fff5f7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
